@CHARSET "UTF-8";

* {
	color:#5E5E5E;
	text-shadow: 1px 1px 1px white;
}

#portrait { 
	float:left;
	width:84px;
	padding:.75em .75em 0 0;
}

body, h1, h2, input, a, textarea, p, dl {
	font-size:1em;
	margin:0;
	font-family:Helvetica Neue, Helvetica, helv, Arial, Sans;
	text-decoration:none;
}

body {
	position:absolute;
	min-height:100%;
	width:100%;
	
}
h1 {
	display:block;
	font-size:1.5em;
	font-weight:bold; 
	margin:0;
	text-align:left; 
	line-height:1em;
}

ol, ul {
	margin:0;
	padding:0;
}
p, dl, ul, ol {
	padding:.75em .5em;
}
section section p, 
section section dl, 
section section ul, 
section section ol {
	padding:.375em .25em;
}
ul ul {
	margin: 0 1em;
}
p, li, dt, dd {
	line-height: 1.5em;
}
ul li {
	list-style-type:none;
}
dt {
	float:left;
	width:10em;
}
dd {
	display: block;
	margin: 0;
	padding-left: 10.5em;
}
dd.half {
	width:130px;
	float:left;
	padding:0;
	padding-left:6px;
}
dd.half:nth-child(even) {
	padding-left:10.5em;
	padding-right: 5px;
	border-right: 1px solid #DADADA;
}
dt + dd.half:nth-child(n) {
	padding-left:.5em;
}
dd.half a { 
	display:block; 
}
em {
	color:black;
	font-style:normal;
}
a:hover {
	text-decoration:underline;
	cursor:pointer;
}



.wrapper {
	position:absolute;

	min-height:100%;
	height:auto;
	width:100%;
}
.wrapper:after, .content:after { /* will clear the background when all children are floated*/
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
	content:'.';
	font-size:0px;
}

.wrapper .content {
	width:30.75em;
	margin:1em;
	float:left;
}

@media print {
	body, .wrapper { background:none; }
	.wrapper .content { width:auto; }
}

body {
	background: white url('civ-bg.png') repeat-x top left;
}
.civilization {
	background:
		url('civilization.jpg') no-repeat top right,
		url('civ-bg.png') repeat-x top left;
}
@media screen and (max-width: 1600px) {
	.civilization { background-position: top left; }
}

.stacked {
	position:relative;
	padding:0;
}
.stacked > span, .stacked > a {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;

	padding:0;
}

section {
	border:1px solid white;
	border-color:white #DADADA #DADADA white;
	padding:.6875em;
	margin-bottom:.75em;
	margin-right: .75em;
	background:#F0F0F0;
	-moz-border-radius:.1875em;
	-webkit-border-radius:.1875em;
	border-radius:.1875em;
	float:left;
	width:28.5em;
}

section > h1, section >:first-child {
	margin-top:0;
}

section section {
	border:none;
	margin-bottom:0;
	padding:.375em;
	float:none;
	width:auto;
}
section section h1 {
	font-size:1.25em;
	margin-bottom:.2em;
}
